*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align:center;
}

body{
  background-color: rgb(188, 223, 235) ;

}

.Loading{
  font-size: 100px;
  color: crimson;
  text-shadow: darkred 10px blur;
  margin-top: 5%;

}

.card{
  display: flex;
  margin: 1%;
  /* padding: 1%; */
  /* background-color: deepskyblue; */

}
.img{
border: darkviolet solid;
width: 110px;
margin: 10px;
}
.p{
  font-size: x-large;
  font-weight: bolder ;
  
}
.hi{
  padding: 1.2%;
border: darkviolet solid;
background-color: dimgrey;
}
h4{margin: 1%;}

.btn{
  background-color: blueviolet;
  width: 100%;
  height: 40px;
  font-weight: bolder ;
  margin-top: 2%;
  
}